[class^="btn-"] {
  box-sizing: border-box;
  display: block;
  font-family: $serif-secondary;
  font-size: $base-font-size;
  padding-bottom: $base_spacing_down_2;
  padding-left: 0;
  padding-right: 0;
  padding-top: $base_spacing_down_2;
  text-align: center;
  width: 100%;
  transition: all 0.25s ease;

  @include grid-media($neat-grid-tablet) {
    display: inline-block;
    padding: $base_spacing_down_1 $base_spacing;
    width: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

a.btn-base {
  color: $base-background-color;
  background-color: $base-font-color;
  border: $base-border-width solid $base-font-color;

  &:hover {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

a.btn-secondary {
  color: $link-base-color;
  background-color: rgba(255,255,255,0.5);
  border: $base-border;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

a.btn-secondary-inverse {
  color: $base-background-color;
  font-weight: 600;
  background-color: $black;
  border: 3px solid $base-background-color;

  &:hover {
    color: $black;
    background-color: white;
    border-color: white;
    // transform: scale(1.05);
  }
}
