[class^="btn-"] {
  box-sizing: border-box;
  display: block;
  font-size: $base-font-size;
  padding-bottom: $base_spacing_down_2;
  padding-left: 0;
  padding-right: 0;
  padding-top: $base_spacing_down_2;
  text-align: center;
  width: 100%;

  @include grid-media($neat-grid-tablet) {
    display: inline-block;
    padding: $base_spacing_down_1 $base_spacing;
    width: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

a.btn-base {
  color: $base-background-color;
  background-color: $base-font-color;
  border: $base-border-width solid $base-font-color;

  &:hover {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

a.btn-secondary {
  color: $link-base-color;
  background-color: $base-background-color;
  border: $base-border;

  &:hover {
    color: $link-hover-color;
    border-color: lighten($link-hover-color, 20%);
  }
}
