.about_body_title {
  @include grid-media($neat-grid-desktop) {
    @include grid-column(12);
  }
}

.about_body_content {
  @include grid-column(12);
  @include grid-collapse();

  .main_column {
    @include grid-column(12);
    @include grid-media($neat-grid-desktop) {
      @include grid-column(8);
    }
  }

  .secondary_column {
    @include grid-column(12);
    @include grid-media($neat-grid-desktop) {
      @include grid-column(4);
    }
  }
}

.secondary_column {
  h4 {
    margin-bottom: $base_spacing_down_1;
    font-size: $base-font-size * $rhythm_down_1;
    display: inline-block;
    border-bottom: $base-border;
    padding-bottom: $base_spacing_down_2;
  }

  ul {
    margin: 0 auto $base_spacing_desktop;
  }

  hr {
    border: none;
  }
}
