.about_body_title {
  margin: 0 auto $base_spacing_mobile;
  text-align: left;

  @include grid-media($neat-grid-tablet) {
    text-align: center;
  }

  @include grid-media($neat-grid-desktop) {
    @include grid-column(12);
    margin: 0 auto $base_spacing_desktop;
  }

}

.about_body_content {
  @include grid-column(12);
  @include grid-collapse();

  .main_column {
    @include grid-column(12);

    @include grid-media($neat-grid-desktop) {
      @include grid-column(8);
      @include grid-shift(2);
    }
  }
}

.about_body_content {
  .submission_info {
    font-size: $base-font-size * $rhythm_up_1;
    p {
    }
  }

  .credits_description {
    h4 {
      @include type_body_header_small();
      margin-bottom: $base_spacing_down_1;
      display: inline-block;
      padding-bottom: $base_spacing_down_2;
    }

    ul {
      margin: 0 auto $base_spacing_desktop;
    }

    hr {
      border: none;
    }
  }

  .support_info {
    border-top: $base-border;
    margin-top: $base_spacing_mobile;
    padding-top: $base_spacing_mobile;

    @include grid-media($neat-grid-tablet) {
      margin-top: $base_spacing_desktop;
      padding-top: $base_spacing_desktop;
    }

    p {
      font-size: $base-font-size * $rhythm_down_1;
      text-transform: uppercase;
    }
  }
}

