.container {
  @include grid-container;
  @include margin(null auto);
  max-width: 64rem;
  position: relative;
}

.container_body {
  @include grid-column(12);
  display: block;
  overflow: hidden;
  margin-top: $base-spacing / 1.5;

  @include grid-media($neat-grid-tablet) {
    margin-top: $base-spacing;
  }
}
