.container {
  @include grid-container;
  @include margin(null auto);
  max-width: 64rem;
  position: relative;
}

.container_body {
  @include grid-column(12);
  display: block;
  overflow: hidden;
}
