body {
  margin: 0;
  overflow-y: auto;
}

body.default_splash {
  overflow-y: auto;

  @include grid-media($neat-grid-tablet) {
    overflow-y: hidden;
  }
}

.container {
  @include grid-container;
  @include margin(null auto);
  max-width: 72rem;
  position: relative;

  // opacity: 0.5;
  // padding-top: 40px;
  // transition: all 1.5s ease;
  //
  // &.active {
  //   opacity: 1.0;
  //   padding-top: 0;
  // }
}

.container_body {

  @include grid-column(12);
  display: block;
  overflow: hidden;
  margin-top: $base_spacing_mobile;

  @include grid-media($neat-grid-tablet) {
    margin-top: $base_spacing_desktop;
  }
}

