.site_header {
  @include grid-column(12);
  border-bottom: $base-border;
  display: inline-block;
  padding: ($base_spacing_mobile / 2) 0 $base_spacing_mobile;

  @include grid-media($neat-grid-tablet) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: $base_spacing_desktop / 4;
    padding-bottom: $base_spacing_desktop / 4;
  }
}

.site_header_text_logo {
  font-size: $base-font-size * $rhythm_up_1;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.site_header_text_logo a {
  font-family: $serif-primary;
  text-decoration: none;
}
