.site_header {
  @include grid-column(12);
  border-bottom: $base-border;
  display: block;
  overflow: hidden;
}

.site_header_text_logo {
  float: left;
  font-size: $base-font-size * 1.5;
  margin-top: $tertiary-spacing;
  text-transform: uppercase;
}

.site_header_text_logo a {
  text-decoration: none;
}
