.issue_detail_excerpt {
  p {
    font-size: $base-font-size * 1.5;
  }
}

.issue_detail_image {
  @include aspect-ratio(16, 9);
}

.issue_detail_image img {
  object-fit: cover;
  max-height: fit-content;
  width: 100%;
}

.issue_detail_header {
  // margin: $base-spacing auto;
  // padding-bottom: $base-spacing;
}

.issue_detail_meta_title {
  letter-spacing: 1px;
  text-transform: uppercase;

  @include grid-media($neat-grid-tablet) {
    font-size: $base-font-size;
  }
}

.issue_detail_meta_description {
  margin: 0;
}

.issue_detail_meta_body {
  align-items: initial;
  display: flex;
  flex-direction: column;
  margin-bottom: $base_spacing_mobile;

  @include grid-media($neat-grid-tablet) {
    margin-bottom: $base_spacing_desktop;
    align-items: center;
    flex-direction: row;
  }
}

.issue_detail_meta_list,
.issue_detail_meta_cta {
  display: inline-block;
}

.issue_detail_meta_list {
  padding-left: 0;


  .issue_detail_meta_list_item {
    display: inline-block;
    list-style-type: none;
    margin-right: $base-spacing * 2;
  }
}

.issue_detail_meta_cta {
  .btn-base {
    font-size: $base-font-size * 1.25;
  }
}
