.issue_detail_table_of_contents {
  border-top: $base-border;
  padding-top: $base_spacing_mobile;

  @include grid-media($neat-grid-tablet) {
    padding-top: $base_spacing_desktop;
    column-count: 2;
  }

  @include grid-media($neat-grid-desktop) {
    column-count: 3;
    column-gap: $base_spacing_desktop;
  }

  h3 {
    margin-bottom: $base-spacing;
  }

  h4 {
    font-size: $base-font-size * 1.25;
  }

  h4,
  h5 {
    text-transform: uppercase;
  }

  hr {
    border: none;
    margin-bottom: $base_spacing_mobile;

    @include grid-media($neat-grid-tablet) {
      margin-bottom: $base_spacing_desktop;
    }
  }


  ul {
    margin-top: 0;

    li {
      font-style: oblique;
    }
  }
}
