.issue_detail_table_of_contents {
  @include grid-column(12);
  border-top: $base-border;
  padding-top: $base_spacing_mobile;


  @include grid-media($neat-grid-tablet) {
    padding-top: $base_spacing_desktop;
  }


  .table_of_contents_column {
    @include grid-column(12);

    @include grid-media($neat-grid-tablet) {
      @include grid-column(6);
    }
  }
}

.table_of_contents_column_title {
  margin-bottom: $base-spacing;
}

.table_of_contents_column_description {
  hr {
    border: none;
    margin-bottom: $base_spacing_mobile;

    @include grid-media($neat-grid-tablet) {
      margin-bottom: $base_spacing_desktop;
    }
  }


  ul {
    margin-top: 0;

    li {
      font-style: oblique;
    }
  }
}

