.issues_body_list {
  padding-left: 0;
}

.issues_body_list_item_a {
  @include grid-column(12);
  @include grid-collapse();
  padding-top: $base_spacing_mobile;
  padding-bottom: $base_spacing_mobile;

  @include grid-media($neat-grid-tablet) {
    padding-top: $base_spacing_desktop;
    padding-bottom: $base_spacing_desktop;
  }

  &:hover {
    color: white;
    transition: all 0.25s ease-in-out;
    background: black;
    text-decoration: none;
  }
}

.issues_body_list_item {
  align-items: center;
  display: flex;
  padding-left: 0;

  @include grid-media($neat-grid-tablet) {
    padding-left: $base_spacing_desktop;
  }
}

.issues_body_list_item_image,
.issues_body_list_item_description {
  @include grid-column(12);

  @include grid-media($neat-grid-tablet) {
    @include grid-column(6);
  }
}

.issues_body_list_item_image {
  margin-left: 0;
  margin-right: 0;
}

.issues_body_list_item_image {
  a {
    display: block;

    &:hover {
      img {
        opacity: 1;
        // transform: scale(1.05);
      }
    }
  }

  img {
    @include clearfix;
    opacity: 0.95;
    width: 100%;
    max-width: 100%;
    height: auto;
    // transition: all .2s ease-in-out;
  }
}

.issues_body_list_item_description {
  .title {
    @include type_sub_header();
  }

  .description {
    margin-top: 0;
  }

  .meta_list {
    padding-left: 0;

    .meta_list_item {
      display: inline-block;
      list-style-type: none;
      margin-right: $base-spacing * 2;

      .meta_title {
        @include type_body_header_small();
        font-size: 0.8em;
      }

      .meta_description {
        margin: 0;
      }
    }
  }
}

