.issues_body_list {
  padding-left: 0;
}

$issues_body_list_item: (
  columns: 2,
  gutter: $base-spacing,
);

.issues_body_list_item {
  @include grid-container();
  list-style-type: none;
  margin-bottom: $base-spacing * 2;

  @include grid-media($neat-grid-tablet) {
    .issues_body_list_item_image {
      // @include grid-column(1, $issues_body_list_item);
      @include grid-column(6);
      margin-left: 0;
    }

    .issues_body_list_item_description {
      @include grid-column(6);
      // @include grid-column(1, $issues_body_list_item);
    }
  }
}

.issues_body_list_item_image {
  a {
    display: block;

    &:hover {
      img {
        opacity: 1;
        // transform: scale(1.05);
      }
    }
  }

  img {
    @include clearfix;
    opacity: 0.95;
    width: 100%;
    max-width: 100%;
    height: auto;
    // transition: all .2s ease-in-out;
  }
}

.issues_body_list_item_description {
  .title {
    font-family: $serif-primary;
    margin: 0;
  }

  .description {
    margin-top: 0;
  }

  .meta_list {
    padding-left: 0;

    .meta_list_item {
      display: inline-block;
      list-style-type: none;
      margin-right: $base-spacing * 2;

      .meta_description {
        margin: 0;
      }
    }
  }
}
