.issues_body_list {
  padding-left: 0;
}

.issues_body_list_item {
  @include grid-media($neat-grid-tablet) {
    @include grid-column(6);
  }
}

// .issues_body_list_item_image,
// .issues_body_list_item_description {
//   @include grid-column(12);
//
//   @include grid-media($neat-grid-tablet) {
//     @include grid-column(6);
//   }
// }
//
.issues_body_list_item_image {
  display: flex;
  max-height: 240px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $base_spacing_desktop / 2;
  overflow: hidden;

  @include grid-media($neat-grid-tablet) {
    max-height: 320px;
  }

  img {
    @include clearfix;
    width: 100%;
    max-width: 100%;
    height: auto;
    flex: 1;
    object-fit: cover;
    transition: all .25s ease-in;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.issues_body_list_item_description {
  text-align: center;

  .title {
    text-align: center;
  }

  .description {
    margin-top: 0;
  }

  .meta_list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-evenly;
    align-items: center;

    > li {
      flex: 1;
    }

    .meta_list_item {
      list-style-type: none;

      .meta_title {
        @include type_body_header_small();
        font-size: 0.8em;
      }

      .meta_description {
        margin: 0;
      }
    }
  }
}

