.site_menu {
  float: left;

  @include grid-media($neat-grid-tablet) {
    float: right;
  }

  ul {
    margin: 0;

    li {
      display: inline-block;
      margin-right: $base_spacing_desktop / 4;

      @include grid-media($neat-grid-tablet) {
        margin-right: $base_spacing_desktop / 2;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
