.site_menu {
  float: left;

  @include grid-media($neat-grid-tablet) {
    float: right;
  }

  ul {
    li {
      display: inline-block;
      margin-right: $base-spacing;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
