.sample_container {
  width: 100%;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  // -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  // -webkit-scroll-snap-type: mandatory;
  // -ms-scroll-snap-type: mandatory;
  // scroll-snap-type: mandatory;
  // scroll-behavior: smooth;
  // scroll-snap-destination: 0% 0%;
  //
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.sample_block.title {
  background: $black;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sample_slideshow {
  display: flex;
  flex-wrap: nowrap;
  overflow: initial;
  width: 100%;
  height: 100vh;
}

.sample_slideshow_nav {
  transition: all .35s ease;
  position: fixed;;
  bottom: -10vh;
  height: 10vh;
  left: 0;
  right: 0;
  background: $black;
  width: 100%;
  color: white;
}

.sample_slideshow_nav.active {
  bottom: 0;
}

.sample_block {
  flex: 0 0 auto;
  height: 90vh;
  width: 100vw;

  -webkit-scroll-snap-coordinate: 0% 0%;
  -ms-scroll-snap-coordinate: 0% 0%;
  scroll-snap-coordinate: 0% 0%;

}


.title_base {
  background: $black;
  width: 65vw;

  .title_base_content {
    display: flex;
    flex-direction: column;
    white-space: normal;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    .site_header_text_logo {
      padding-bottom: 1.5em;
      border-bottom: 3px solid white;
      margin-bottom: 1.5em;
      display: inline-block;
      width: fit-content;
      align-self: flex-start;
      font-size: 1.5em;
    }

    .subline_desc_en,
    .subline_desc_es {
      font-family: $serif-primary;
      font-weight: 400;
    }

    .subline_desc_en {
      text-align: left;
      padding-right: 2em;
      margin-bottom: 2em;
    }

    .subline_desc_es {
      text-align: right;
      padding-left: 2em;
      margin-bottom: 2em;
    }

    .cta_nav_to_index {
      align-self: flex-end;
    }
  }
}

.title_secondary {
  background: white;
  width: 35vw;
  color: $black;
}

// .sample_block.green {
//   background: green;
// }
//
// .sample_block.teal {
//   background: teal;
// }
//
// .sample_block.blue {
//   background: blue;
// }
//
// .sample_block.white {
//   background: white;
// }

.sample_block_content {
  padding: $base_spacing_mobile;

  @include grid-media($neat-grid-tablet) {
    padding: $base_spacing_desktop;
  }
}

// 2-Column Text Layout
.txt_col_2 {
  display: flex;
  justify-content: space-between;

  .col {
    flex: 1;

    &:first-child {
      padding-right: 4em;
    }
  }

  figcaption {
    margin-bottom: $base_spacing_desktop;
  }

  .lang_desc,
  .work_title,
  .work_author {
    display: block;
  }
}

// Generic Typography
.sample_block {
  .lang_desc {
    color: $light-grey;
    font-family: $sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 0.85em;
  }
  
  .work_title {
    font-family: $serif-primary;
    font-size: 2em;
    line-height: 1.35;
  }

  .work_author {
    font-family: $serif-primary;
    font-size: $base-font-size;
  }

  .work_author.translator {
    font-style: oblique;

    em {
      font-style: normal;
    }
  }

  .work_body.poetry {
    // font-size: $base-font-size * $rhythm_down_1;
  }
}



// 1-Column Full Image Layout
.img_full {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-direction: column;

  .img_container {
    height: 90vh;
    padding: 1em;

    figure {
      display: flex;
      height: 90%;

      img {
        align-self: flex-end;
        height: inherit;
        width: 100%;
        object-fit: contain;
      }
    }

    figcaption {
      height: 10%;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;

      .work_title,
      .work_author {
        display: block;
      }

      .work_title {
        font-size: $base-font-size * $rhythm_down_1;
        font-style: italic;
      }

      .work_author {
      font-size: $base-font-size * $rhythm_down_1;
      }
    }
  }
}
