// Spacing, Margins, Gutter
$base-unit: 1rem;

// Rhythm Declaration
$base_spacing_up_3: $base-unit * 3.00;
$base_spacing_up_2: $base-unit * 2.00;
$base_spacing_up_1: $base-unit * 1.50;
$base_spacing: $base-unit;
$base_spacing_down_1: $base-unit / 1.50;
$base_spacing_down_2: $base-unit / 2.00;
$base_spacing_down_3: $base-unit / 3.00;

// Platform Declaration
$base_spacing_mobile: $base_spacing;
$base_spacing_desktop: $base_spacing_up_2;

// Delete these soon
$base-spacing: $base-unit * 1.5;
$secondary-spacing: $base-unit;
$tertiary-spacing: $base-unit / 2;

