$serif-primary: "BagnardRegular", "georgia";
$serif-secondary: "utopia-std", "georgia";
$sans-serif: "nimbus-sans", "Helvetica", "Arial";
$base-font-size: 16pt;

$rhythm_up_4 : 4;
$rhythm_up_3 : 3;
$rhythm_up_2 : 2;
$rhythm_up_1 : 1.5;
$rhythm_down_1: 0.8;
$rhythm_down_2: 0.5;

@mixin type_header(
    $font_face: $serif-primary,
    $font-size: $base-font-size,
  ) {
  font-family: $font_face;
  font-size: $font-size * $rhythm_up_1;
  line-height: 1.25;
  margin: 0 auto;

  @include grid-media($neat-grid-tablet) {
    font-size: $base-font-size * $rhythm_up_3;
    line-height: 1.25;
  }
}

@mixin type_sub_header($font_face: $serif-secondary) {
  font-family: $font_face;
  font-size: $base-font-size * $rhythm_up_1;
  line-height: 1.25;
  margin: 0 auto;

  @include grid-media($neat-grid-tablet) {
    font-size: $base-font-size * $rhythm_up_2;
    line-height: 1.25;
  }
}

@mixin type_body_header($font_face: $serif-secondary) {
  font-family: $font_face;
  letter-spacing: 1px;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin: 0 auto;
}

@mixin type_body_header_small() {
  font-family: $sans-serif;
  letter-spacing: 1px;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: $base-font-size * $rhythm_down_1;
  margin: 0 auto;
}

@mixin type_body_large($font_face: $serif-secondary) {
  font-family: $font_face;
  font-size: $base-font-size;
  line-height: 1.65;
  margin: 0 auto $base_spacing;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  @include grid-media($neat-grid-tablet) {
    font-size: $base-font-size * $rhythm_up_1;
    margin: 0 auto $base_spacing_up_1;
  }
}

@mixin type_body_normal($font_face: $serif-secondary) {
  font-family: $font_face;
  font-size: $base-font-size;
  line-height: 1.65;
  margin: 0 auto $base_spacing;
  white-space: initial;

  @include grid-media($neat-grid-tablet) {
    font-size: $base-font-size;
    margin: 0 auto $base_spacing_up_1;
  }
}

@mixin type_body_small($font_face: $serif-secondary) {
  font-family: $font_face;
  font-size: $base-font-size * $rhythm_down_1;
  line-height: 1.65;
  margin: 0 auto $base_spacing;

  @include grid-media($neat-grid-tablet) {
    margin: 0 auto $base_spacing_up_1;
  }
}

//---------- Type Usage -----------//

h1 {
  @include type_header();
}

h2 {
  @include type_sub_header();
}

h3,
h4 {
  @include type_body_header();
}

h5,
h6 {
  margin: 0 auto;
}

p,
small,
caption,
li,
a
{
  @include type_body_normal();
}

small {
  @include type_body_small();
}

figure {
  margin: 0;
}

cite {
  font-style: initial;
}

p a {
  text-decoration: underline;

  &:hover {
    color: blue;
  }
}

a {
  color: $link-base-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    color: $link-active-color;
  }
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
    margin-bottom: 0;
  }
}
