<footer class="site_footer">
  <section class="site_footer_content">

		<section class="col_2">
			<h3 class="site_footer_title">
			  About Erizo
			</h3>
      <div class="site_footer_body">
        <p>
          Erizo is a journal of the arts publishes new poetry and art from across the americas. Erizo functions as a non-profit organization. to give a tax deductible gift to Erizo, please visit our fractured atlas sponsored page.
        </p>
        <p>
        <a href="/about" class="btn-secondary">Learn More</a>
        </p>
      </div>
    </section>

		<section class="col_2">
			<h3 class="site_footer_title">
			  Submission and Contact
			</h3>
			<p class="site_footer_body">
        To submit poems or visual art, or to inquire about translating, please email us at editors@erizoerizo.com. We are also interested
        collaborations between poets and artists.
			</p>
    </section>
  </section>

  <section class="site_footer_endnote">
    <h3 class="site_footer_brand_logo">
      Erizo
    </h3>

    <small class="site_footer_endnote_content">
      Copyright Erizo, 2017-2018. All Rights Reserved.
    </small>

    <!-- <ul class="site_footer_endnote_links"> -->
    <!--   <li> -->
    <!--     <a href="/">Instagram</a> -->
    <!--   </li> -->
    <!--   <li> -->
    <!--     <a href="/">Facebook</a> -->
    <!--   </li> -->
    <!-- </ul> -->
  </section>
</footer>
