<section class="sample_container">

  <div class="sample_block title">
    <h1>
      Art Sample Header
    </h1>
  </div>

  <div class="sample_block green img_full">
    <figure>
      <img src="">
    </figure>
    <caption>
      <p>Biquini Wax EPS</p>
    </caption>
  </div>

  <div class="sample_block white">
    <article class="sample_block_content txt_col_2">
      <div class="col">
        <figcaption>
          <small class="lang_desc">English</small>
          <cite class="work_title">Human Intelligence Tasks</cite>
          <cite class="work_author">Monica de la Torre</cite>
        </figcaption>
        <p class="work_body poetry">
          Find the exact “seconds time” that each word is sung in the song.<br>
          Please tell us parenting advice for India.<br>
          Judge a user’s privacy preference.<br>
          Provide a similar word or phrase.<br>
          Find photographs of judges.<br>
          Order Tagalog for English translations by their quality.<br>
          How relevant is this job result compared to the job query?<br>
          Watch videos and click buttons.<br>
          Mark the ball as it leaves the player’s hands.<br>
          Find email addresses and names of owners or general managers of gyms.<br>
          Tell us how you perceive an image, an interesting short survey.<br>
          Estimate gender and age of faces.<br>
          Judge the sentiment expressed toward user’s experience with care provided.<br>
          Find department chairs.<br>
          Extract information from a table.<br>
        </p>
      </div>

      <div class="col">
        <figcaption>
          <small class="lang_desc">Espanol</small>
          <cite class="work_title">Tareas Para Inteligencia Humana</cite>
          <cite class="work_author translator">Traduccion de <em>Daniel Saldana Paris</em></cite>
        </figcaption>
        <p class="work_body poetry">
          Encuentre el segundo exacto en que se canta cada palabra en la canción.<br>
          Por favor denos consejos de crianza para la India.<br>
          Determine la preferencia de privacidad de un usuario.<br>
          Aporte una palabra o frase similar.<br>
          Encuentre fotografías de jueces.<br>
          Ordene traducciones del filipino al inglés según su calidad.<br>
          ¿Qué tan relevante es el resultado de este trabajo en comparación con la búsqueda de
          empleo?<br>
          Observe videos y apriete botones.<br>
          Marque la pelota justo cuando sale de las manos del jugador.<br>
          Encuentre direcciones de email y nombres de dueños o gerentes generales de gimnasios.<br>
          Díganos como percibe una imagen, una encuesta breve interesante.<br>
          Calcule el género y la edad de ciertos rostros.<br>
          Determine el sentimiento expresado hacia la experiencia del usuario en la atención
          brindada.<br>
          Encuentre jefes de departamento.<br>
          Extraiga información de una tabla.<br>
        </p>
      </div>
    </article>
  </div>

  <div class="sample_block white img_full">
    <article class="img_container">
      <figure>
        <img src="assets/images/sample/prieto_uyunis.jpg">
      </figure>
      <figcaption>
        <cite class="work_title">Uyunis</cite>
        <cite class="work_author">Alejandro Prieto</cite>
      </figcaption>
    </article>
  </div>

  <div class="sample_block white img_full">
    <article class="img_container">
      <figure>
        <img src="assets/images/sample/prieto_bipolar_y_acefalos.jpg">
      </figure>
      <figcaption>
        <cite class="work_title">Bipolar & Acéfalos” (Headless & Bipolar)</cite>
        <cite class="work_author">Alejandro Prieto</cite>
      </figcaption>
    </article>
  </div>

  <div class="sample_block blue img_full">
    <figure>
      <img src="">
    </figure>
    <caption>
      <p>Fernando Palma “from Kittenmiow in the country of flags”</p>
    </caption>
  </div>

  <div class="sample_block blue img_full">
    <figure>
      <img src="">
    </figure>
    <caption>
      <p>Fernando Palma “from inemiliz in coyotl”</p>
    </caption>
  </div>

  <div class="sample_block teal txt_col_2">
    <div class="col">
      <p>Jessica O. Marsh’s “Grit” (English)</p>
    </div>
    <div class="col">
      <p>“Arena” traducción de Tatiana Lipkes</p>
    </div>
  </div>

  <div class="sample_block teal txt_col_2">
    <div class="col">
      <p> Héctor Hernández Montecinos’ “desde Los Colores y Papá [fragment]” (Spanish)</p>
    </div>
    <div class="col">
      <p>“from The Colors and Papá” translated by Katherine M. Hedeen</p>
    </div>
  </div>

</section>

