<section class="sample_container">

  <div class="sample_block title">
    <article class="title_base">
      <div class="title_base_content">
        <h1 class="site_header_text_logo">
          Erizo
        </h1>
        <h2 class="subline_desc_en">
          a journal of the arts publishes new poetry and visual art from the Americas.
        </h2>
        <h2 class="subline_desc_es">
          un diario de las artes publica nueva poesiísia y arte de las Américas
        </h2>

        <a class="btn-secondary-inverse cta_nav_to_index">
          <i class="fas fa-arrow-down"></i>
          Continue to Website
        </a>

      </div>
    </article>

    <article class="title_secondary">
        <p>
          Featuring art and poetry by Biquini Wax EPS, Mónica de la Torre,
          Daniel Saldaña París, Alejandra Prieto, Fernando Palma, Jessica O.
          Marsh, and Tatiana Lipkes.
        </p>
        <a class="btn-secondary cta_nav_to_slideshow">
          See Featured Selections
          <i class="fas fa-arrow-right"></i>
        </a>
    </article>
  </div>

  <section class="sample_slideshow">
    <span class="sample_slideshow_left_nav">
      <a class="btn-secondary cta_nav_to_left">
        <i class="fas fa-arrow-left"></i>
      </a>
    </span>

    <span class="sample_slideshow_right_nav">
      <a class="btn-secondary cta_nav_to_right">
        <i class="fas fa-arrow-right"></i>
      </a>
    </span>

    <nav class="sample_slideshow_bottom_nav">
      <a class="btn-secondary cta_nav_to_index">
        <i class="fas fa-arrow-down"></i>
        Continue to Website
      </a>
    </nav>

    <div class="sample_block green img_full">
      <figure>
        <img src="">
      </figure>
      <caption>
        <p>Biquini Wax EPS</p>
      </caption>
    </div>

    <div class="sample_block white">
      <article class="sample_block_content txt_col_2">
        <div class="col">
          <figcaption>
            <small class="lang_desc">English</small>
            <cite class="work_title">Human Intelligence Tasks</cite>
            <cite class="work_author">Monica de la Torre</cite>
          </figcaption>
          <p class="work_body poetry">
            Find the exact “seconds time” that each word is sung in the song.<br>
            Please tell us parenting advice for India.<br>
            Judge a user’s privacy preference.<br>
            Provide a similar word or phrase.<br>
            Find photographs of judges.<br>
            Order Tagalog for English translations by their quality.<br>
            How relevant is this job result compared to the job query?<br>
            Watch videos and click buttons.<br>
            Mark the ball as it leaves the player’s hands.<br>
            Find email addresses and names of owners or general managers of gyms.<br>
            Tell us how you perceive an image, an interesting short survey.<br>
            Estimate gender and age of faces.<br>
            Judge the sentiment expressed toward user’s experience with care provided.<br>
            Find department chairs.<br>
            Extract information from a table.<br>
          </p>
        </div>

        <div class="col">
          <figcaption>
            <small class="lang_desc">Espanol</small>
            <cite class="work_title">Tareas Para Inteligencia Humana</cite>
            <cite class="work_author translator">Traduccion de <em>Daniel Saldana Paris</em></cite>
          </figcaption>
          <p class="work_body poetry">
            Encuentre el segundo exacto en que se canta cada palabra en la canción.<br>
            Por favor denos consejos de crianza para la India.<br>
            Determine la preferencia de privacidad de un usuario.<br>
            Aporte una palabra o frase similar.<br>
            Encuentre fotografías de jueces.<br>
            Ordene traducciones del filipino al inglés según su calidad.<br>
            ¿Qué tan relevante es el resultado de este trabajo en comparación con la búsqueda de
            empleo?<br>
            Observe videos y apriete botones.<br>
            Marque la pelota justo cuando sale de las manos del jugador.<br>
            Encuentre direcciones de email y nombres de dueños o gerentes generales de gimnasios.<br>
            Díganos como percibe una imagen, una encuesta breve interesante.<br>
            Calcule el género y la edad de ciertos rostros.<br>
            Determine el sentimiento expresado hacia la experiencia del usuario en la atención
            brindada.<br>
            Encuentre jefes de departamento.<br>
            Extraiga información de una tabla.<br>
          </p>
        </div>
      </article>
    </div>

    <div class="sample_block blue img_full">
      <article class="img_container">
        <figure>
          <img src="assets/images/sample/prieto_uyunis.jpg">
        </figure>
        <figcaption>
          <cite class="work_title">Uyunis</cite>
          <cite class="work_author">Alejandro Prieto</cite>
        </figcaption>
      </article>
    </div>

    <div class="sample_block green img_full">
      <article class="img_container">
        <figure>
          <img src="assets/images/sample/prieto_bipolar_y_acefalos.jpg">
        </figure>
        <figcaption>
          <cite class="work_title">Bipolar & Acéfalos” (Headless & Bipolar)</cite>
          <cite class="work_author">Alejandro Prieto</cite>
        </figcaption>
      </article>
    </div>

    <div class="sample_block blue img_full">
      <article class="img_container">
        <figure>
          <img src="assets/images/sample/palma_kittenmiow.jpg">
        </figure>
        <figcaption>
          <cite class="work_title">from Kittenmiow in the country of flags</cite>
          <cite class="work_author">Fernando Palma</cite>
        </figcaption>
      </article>
    </div>

    <div class="sample_block blue img_full">
      <article class="img_container">
        <figure>
          <img src="assets/images/sample/palma_inemiliz.jpg">
        </figure>
        <figcaption>
          <cite class="work_title">from inemiliz in coyotl</cite>
          <cite class="work_author">Fernando Palma</cite>
        </figcaption>
      </article>
    </div>

    <div class="sample_block white">
      <article class="sample_block_content txt_col_2">
        <div class="col">
          <figcaption>
            <small class="lang_desc">English</small>
            <cite class="work_title">Grit</cite>
            <cite class="work_author">Jessica O. Marsh</cite>
          </figcaption>
          <div class="work_body poetry">
            <p>
              What could I say to the fragmented body of my real education? Something
              soothing, lateral, liquid, made of clues to escape the endogenous. How
              skin turns to milk and hair to black gold. Money and milk are a desert.
              How eyes turn to snow on the lake.
            </p>

            <p>
              Cells turn to cells in a desert. Every grain turns an eye to the
              sun. How they whisper as they turn under. How the walls blush. The
              dryness and visible salt.  Wait. How could a painting not appear as
              a fountain?
            </p>

            <p>
              What will the attic dryness say to drops of water in the hollow of
              a glass?  When the house is quenched, you may go out. How papers
              tatter the hawthorn branches, how a whole scene rains down. How the
              law is pulpy. Quiet evidence wrests inside.
            </p>

            <p>
              Every ear knows the point of a rustle. Impressions of static, of
              fugues. I’ve been moving, she said, now I feel like a cast. Imprint
              and round, speckled shadow. The heft of exhaustion cracked back.
              Whatever remaining is gritty and lifting a figural line.
            </p>
          </div>
        </div>

        <div class="col">
          <figcaption>
            <small class="lang_desc">Espanol</small>
            <cite class="work_title">Arena</cite>
            <cite class="work_author translator">Traduccion de <em>Tatiana Lipkes</em></cite>
          </figcaption>
          <div class="work_body poetry">
            <p>
              ¿Qué podría decirle al cuerpo fragmentado acerca de mi educación
              real? Algo tranquilizador, lateral, líquido, hecho de claves para
              escapar lo endógeno. Cómo la piel se vuelve leche y el cabello oro
              negro. El dinero y la leche son un desierto. Cómo los ojos se
              vuelven nieve sobre el lago.
            </p>

            <p>
            Las células se vuelven células en un desierto. Cada grano vuelve un
            ojo hacia el sol. Cómo murmuran mientras giran debajo. Cómo los muros
            se sonrojan. La sequía y la sal visible. Espera. ¿Cómo puede una
            pintura no aparecer como una fuente?
            </p>

            <p>
              ¿Qué le dirá la sequedad del ático a las gotas de agua en el hueco
              del vaso? Cuando la casa esté satisfecha, podrás salir. Cómo los
              papeles desgastan las ramas del espino, cómo toda una escena se
              derrama. Cómo la ley es carnosa. Una evidencia silenciosa se
              retuerce al interior.
            </p>

            <p>
              Cada oído conoce el punto de un crujido. Impresiones de estática,
              de fugas. Me he estado moviendo, dijo ella, ahora me siento como un
              molde. Impreso y redondo, sombra moteada. El peso del agotamiento
              se agrietó de vuelta. Lo que sea que permanece es arenoso y eleva
              una línea figurada.
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
</section>

