---
# Front Matter Declaration
---

@import "bourbon/bourbon";
@import "neat/neat";


p {
  font-size: 2em;
}

$sans-serif-primary: "BagnardRegular", "georgia";
$sans-serif-secondary: "tk-utopia-std", "georgia";

$body-background: #ffffff;

$base-font-size: 1em;

h1 {
  font-family: $sans-serif-primary;
  font-size: $base-font-size * 4;
}

h2 {
  font-family: $sans-serif-secondary;
  font-size: $base-font-size * 4;
}

p {
  font-family: $sans-serif-secondary;
  font-size: $base-font-size;
}
