---
layout: default
---

<section class="about">
  <div class="about_body_title">
    <h1>
      {{ page.page_excerpt }}
    </h1>
  </div>
  <div class="about_body_content">
    <div class="main_column">
      <div class="submission_info">
        {{ content }}
      </div>
      <div class="credits_description">
        {{ page.credits_description | markdownify }}
      </div>
      <div class="support_info">
        {{ page.support_description | markdownify }}
      </div>
    </div>
    <!-- <div class="secondary_column"> -->
    <!--   {{ page.credits_description | markdownify }} -->
    <!-- </div> -->
  </div>
</section>
