---
layout: default
---

<section class="home container">
  <div class="home_container_column">
    <figure class="home_image">
      <img src="{{ site.issues[1].image }}" />
    </figure>

    <div class="home_body_content">
      <a href="{{ site.issues[1].url }}">
        <h1 class="home_body_content_title">
          {{ site.issues[1].title }}
        </h1>
      </a>

      <p class="home_body_content_description">
        {{ site.issues[1].content }}
      </p>

      <ul class="issues_action_row">
        <li class="issues_action_row_item">
          <a href="{{ site.issues[1].url }}" class="btn-secondary">Learn More</a>
        </li>
        <li class="issues_action_row_item">
          <a href="/" class="btn-base">Order {{ page.issues }}</a>
        </li>
      </ul>
    </div>

  </div>
</section>
