---
layout: default
---
{% assign featured_issue_id = page.featured_issue | minus: 1 %}

<section class="home container">
  <div class="home_container_column">
    <figure class="home_image">
      <img src="{{ site.issues[featured_issue_id].image }}" />
    </figure>

    <div class="home_body_content">
      <h1 class="home_body_content_title">
        {{ site.issues[featured_issue_id].title }}
      </h1>

      <p class="home_body_content_description">
        {{ site.issues[featured_issue_id].excerpt }}
      </p>

      <ul class="issues_action_row">
        <li class="issues_action_row_item">
          <a href="{{ site.issues[featured_issue_id].url }}" class="btn-secondary">Learn More</a>
        </li>
      </ul>
    </div>

  </div>
</section>
