---
layout: default
---

<section class="issues">

  {% for i in site.issues reversed %}


  <div class="issues_body_list_item">

    <a href="{{ i.url }}">
      <figure class="issues_body_list_item_image">
        <img src="{{ i.image }}" />
      </figure>
    </a>

    <div class="issues_body_list_item_description">
      <a href="{{ i.url }}">
        <h1 class="title">
          {{ i.title }}
        </h1>
      </a>

      <!-- <div class="description"> -->
      <!--   {{ i.content | markdownify | truncate: 160 }} -->
      <!-- </div> -->
      <!--  -->
      <ul class="meta_list">

        {% if i.price %}
          <li class="meta_list_item">
            <h4 class="meta_title">
              Price
            </h4>
            <p class="meta_description">
              {{ i.price }}
            </p>
          </li>
        {% endif %}

        {% if i.release_year %}
          <li class="meta_list_item">
            <h4 class="meta_title">
              Release
            </h4>
            <p class="meta_description">
              {{ i.release_year }}
            </p>
          </li>
        {% endif %}

        <li class="meta_list_item">
          <a href="{{ i.store_url }}" target="_blank" class="btn-secondary">
            Order
          </a>
        </li>


      </ul>
    </div>
  </div>

  {% endfor %}
</section>
