---
layout: default
---

<section class="issues">
  {% for i in site.issues reversed %}
    <div class="issues_body_list_item">
      <figure class="issues_body_list_item_image">
        <a href="{{ i.url }}">
          <img src="{{ i.image }}" />
        </a>
      </figure>
      <div class="issues_body_list_item_description">
        <a href="{{ i.url }}">
          <h2 class="title">
            {{ i.title }}
          </h2>
        </a>
        <div class="description">
          {{ i.content | markdownify | truncate: 160 }}
          <a href="{{ i.url }}">Learn More</a>
        </div>

        <ul class="meta_list">

          {% if i.price %}
            <li class="meta_list_item">
              <h4 class="meta_title">
                Price
              </h4>
              <p class="meta_description">
                {{ i.price }}
              </p>
            </li>
          {% endif %}

          {% if i.release_year %}
            <li class="meta_list_item">
              <h4 class="meta_title">
                Release
              </h4>
              <p class="meta_description">
                {{ i.release_year }}
              </p>
            </li>
          {% endif %}

        </ul>
        <ul class="issues_action_row">
          <li class="issues_action_row_item">
            <a href="/" class="btn-base">Order {{ i.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  {% endfor %}
</section>
