---
layout: default
---

<section class="issue_detail">
  {% if page.image %}
    <figure class="issue_detail_image">
      <img src="{{ page.image }}" />
    </figure>
  {% endif %}

  <div class="issue_detail_header">
    {% if page.title %}
      <h1>
        {{ page.title }}
      </h1>
    {% endif %}

    {% if page.content %}
      <div class = "issue_detail_excerpt">
        <p>{{ page.content }}</p>
      </div>
    {% endif %}
  </div>

  <div class="issue_detail_meta_body">

    <ul class="issue_detail_meta_list">

      {% if page.price %}
        <li class="issue_detail_meta_list_item">
          <h4 class="issue_detail_meta_title">
            Price
          </h4>
          <p class="issue_detail_meta_description">
            {{ page.price }}
          </p>
        </li>
      {% endif %}

      {% if page.release_year %}
        <li class="issue_detail_meta_list_item">
          <h4 class="issue_detail_meta_title">
            Release
          </h4>
          <p class="issue_detail_meta_description">
            {{ page.release_year }}
          </p>
        </li>
      {% endif %}

    </ul>

    <div class="issue_detail_meta_cta">
      <a href="/" class="btn-base">
        Order {{ page.title }}
      </a>
    </div>

  </div>

  <div class="issue_detail_table_of_contents">
    <section class="table_of_contents_column">
      <h3 class="table_of_contents_column_title">
        {{ page.toc_poetry.title }}
      </h3>

      <div class="table_of_contents_column_description">
        {{ page.toc_poetry.description | markdownify }}
      </div>
    </section>

    <section class="table_of_contents_column">
      <h3 class="table_of_contents_column_title">
        {{ page.toc_art.title }}
      </h3>

      <div class="table_of_contents_column_description">
        {{ page.toc_art.description | markdownify }}
      </div>
    </section>
  </div>

</section>
